services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: authshield
      POSTGRES_USER: authshield
      POSTGRES_PASSWORD: authshield
    ports:
    - 5432:5432
    volumes:
    - authshield_pg:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
      - "8443:8443"
volumes:
  authshield_pg: null
